.notfound {
  position: relative;
  padding: 3rem 0 0 0;

  &-error {
    font-size: 4rem;
    margin: 1rem 0 .2rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.5rem solid $default-dark-color;
    display: block;
    margin: 0 auto 3rem;
    width: 50%;
  }

  &-message {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
  }
}
