.catalogue {
  &-item {
    border-bottom: 1px dashed $grey-2;
    color: $default-light-color;
    display: block;
    padding: 2rem 0;

    &:last-child {
      border: 0;
    }
  }

  &-pinned {
    color: $default-lighter-color;
    font-family: $sans-serif;
  }

  &-time {
    color: $catalogue-date;
    font-family: $sans-serif;
  }

  &-title {
    color: $default-dark-color;
    display: block;
    font-family: $sans-serif;
    margin: .5rem 0 .2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 6rem;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-dark-color;
    display: block;
    width: 3rem;
  }
}