// Colors
$catalogue-date: #5e606c;
//$default-light-color: #555 !default;
$default-light-color: #403e3e !default;
//$default-dark-color: #353535 !default;
$default-dark-color: #000000 !default;
$default-lighter-color: #aaa !default;
$footer-background: #00b5ff;
$footer-items: #ffffff;
$grey-1: #979797 !default;
$grey-2: #e5e5e5 !default;
$grey-3: #f9f9f9 !default;
$nav-background: #ffffff;
//$nav-title: #000000;
//$nav-title-hover: #ffffff;
$nav-title: #000000;
$nav-title-hover: #00b5ff;
$white: #fff !default;
//$blue: #4a9ae1 !default;
$blue: #00b5ff !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$code-color: #bf616a !default;

// Color parking lot
// $catalogue-date: #8b564b;
// $nav-background: #181818;
// $nav-background: #ffc1cc;   <-- pink
// $nav-title-hover: #5e606c;
// $nav-title: #304054;        <-- slate(ish)
// $footer-background: #304054; <-- slate(ish)

// Fonts
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$monospaced: Menlo, Monaco, monospace !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
