<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h1 class="nav-title">{{ site.title }}</h1>
    </a>
    <ul>
      <li><a class="nav-links" href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
      <li><a class="nav-links" href="{{ '/archives' | prepend: site.baseurl }}">archives</a></li>
      <li><a class="nav-links" href="{{ '/favs' | prepend: site.baseurl }}">favs</a></li>      
      <li><a class="nav-links" href="{{ '/tags' | prepend: site.baseurl }}">tags</a></li>
    </ul>
  </div>
</nav>
