.archives {
  &-year {
    &-label {
      display: inline-block;
      //margin: 2rem 0 0.5rem;
      margin: 0;
      //font-family: $sans-serif;
      //color: $default-color;
    }
  }

  &-month {
    &-label {
      display: inline-block;
      //margin: 2rem 0 0.5rem;
      margin: .3rem 0 0 0;
      //font-family: $sans-serif;
      //color: $default-color;
    }
  }

  &-post {
    display: flex;
    justify-content: space-between;
    //padding: 5px 0;

    &-title {
      color: $default-color;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-meta {
      color: $default-tint;
      text-align: right;
      white-space: nowrap;
    }

    &:hover,
    &:active {
      .archives-post-line {
        width: 3rem;
      }

      .archives-post-meta {
        color: $default-shade;
      }
    }
  }
}


