.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav-container {
  display: block;
}

.nav {
  //background-color: $nav-background;
  overflow: auto;

  &-container {
     //margin: 10px;  //use if no background-image
     margin: 0;
     position: relative;
     background-image: url("img/site/Global_temperature_1850-2018.png");
     background-size: cover;
  }

  &-links {
    color: $nav-title;
    font-family: $sans-serif;
    font-weight: bold;
    &:hover {
      color: $nav-title-hover;
    }
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $nav-title;
    display: inline-block;
    font-family: $sans-serif;
    margin: 10px;

    &:hover,
    &:focus {
      color: $nav-title-hover;
    }
  }

  ul {
    list-style-type: none;
    margin: 10px;
  }

  li {
    @include transition(all .2s ease-out);
    display: inline-block;
    padding: 0 1.5rem 0 0;

    &:last-child {
      padding-right: 0;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
